/* Poppins Google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #3599f5;
  --primary-dark: #2979c4;
  --secondary: #03c68b;
  --tritory: #454d4a;
  --bg: #d9d9d9;
  --text: #454d4a;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
/*  */
.container {
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 600px) {
  .container {
    width: 80%;
  }
}

/*  */
.btn {
  padding: 8px 22px;
  border-radius: 5px;
}
