.hero-sec .slider {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
}
.hero-sec .slider .slider-feature {
  --translate-value: 0%;
  display: block;
  overflow: hidden;
  cursor: grab;
  flex: 1 1 100%;
  height: 215px;
  background-image: linear-gradient(20deg, #bdff0063 30%, #79e7ff);
  padding-inline: 25px;
}
@media (min-width: 1024px) {
  .hero-sec .slider {
    flex-wrap: nowrap;
    column-gap: 10px;
  }
  .hero-sec .slider .slider-feature {
    flex: 1 1 84%;
    order: 1;
    height: 315px;
  }
}
.hero-sec .slider .slider-feature .feature-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transform: translateY(var(--translate-value));
  transition: 0.5s;
  user-select: none;
}
.hero-sec .slider .slider-feature .feature-one .feature-img img {
  width: 130px;
}
.hero-sec .slider .static-feature {
  display: flex;
  gap: 80px;
  width: 100%;
  justify-content: center;
}
@media (min-width: 1024px) {
  .hero-sec .slider .static-feature {
    width: 15%;
    flex-direction: column;
    gap: 10px;
  }
}
.hero-sec .slider .static-feature > div {
  position: relative;
  width: 135px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero-sec .slider .static-feature > div img {
  width: 100px;
}
.hero-sec .slider .static-feature .feature-footer {
  font-size: 10px;
  line-height: 15px;
  font-weight: 600;
  color: white;
  padding: 8px 20px;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 5px;
}
.hero-sec .slider .static-feature .feature-new {
  background-color: #393b3a;
}
.hero-sec .slider .static-feature .feature-new .feature-footer {
  background-image: linear-gradient(to right, #000000, #d9d9d957);
}
.hero-sec .slider .static-feature .feature-off {
  background-color: #2d768480;
}
.hero-sec .slider .static-feature .feature-off .feature-footer {
  background-image: linear-gradient(to right, #084450, #d9d9d957);
}
.hero-sec .slider .static-feature span {
  position: absolute;
  top: -6px;
  right: -10px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
}
.hero-sec .slider .static-feature .feature-new span.feature-label {
  background-color: var(--secondary);
  padding: 3px 7px;
  font-size: 8px;
  line-height: 12px;
}
.hero-sec .slider .static-feature .feature-off span.feature-label {
  background-color: #ff7b7b;
  padding: 4px 4px;
  font-size: 7px;
  line-height: 10px;
}
