@import url("../global.css");
/*  */
body {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main {
  background-color: white;
  border-radius: 20px;
  max-width: 620px;
  margin: auto;
}
/* media */
@media (min-width: 600px) {
  main {
    display: flex;
  }
}
/*  */
main .image-side {
  display: none;
  background-image: url("../../assets/images/signup.jpg");
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 45px 23px;
}
/* media */
@media (min-width: 600px) {
  main .image-side {
    display: block;
    flex-basis: 50%;
  }
}
/*  */
main .image-side .co-info {
  max-width: 180px;
}
main .image-side p.co-name {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: var(--primary);
}
main .image-side p.co-name span {
  color: var(--tritory);
}
main .image-side h2 {
  font-size: 50px;
  line-height: 75px;
  font-width: 700;
  color: var(--primary);
}
main .image-side h2 span {
  color: var(--tritory);
}
main .image-side p:last-child {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #393b3a;
}
main .form-side {
  padding-block: 70px 50px;
  padding-inline: 3%;
}
/* media */
@media (min-width: 600px) {
  main .form-side {
    flex-basis: 50%;
  }
}
/*  */
main form {
  display: flex;
  flex-direction: column;
}
main form label:not(:last-child) {
  position: relative;
}
main form label:first-child {
  margin-bottom: 24px;
}
main form label:nth-child(2) {
  margin-bottom: 10px;
}
main form label > span {
  position: absolute;
  color: var(--text);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: lighter;
  transition: all 0.3s;
}
main form input:not([type="submit"]) {
  width: 100%;
  padding: 13px 10px;
  background-color: transparent;
  border: 2px solid var(--bg);
  border-radius: 5px;
  outline-color: var(--primary);
}
main form input:not([type="submit"]):focus ~ span,
main form input:not([type="submit"]):valid ~ span {
  top: 0px;
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  padding: 0 5px;
}
main form p {
  align-self: flex-end;
}
main form p a {
  font-size: 12px;
  line-height: 15px;
  font-weight: light;
  color: var(--text);
}
main form label:last-child {
  margin-top: 12px;
  align-self: center;
}
/* signup style */
main form label[for="signup"] {
  margin-top: 20px;
}
/*  */
main form input.login-btn {
  background-color: var(--primary);
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
main form input.login-btn:hover {
  background-color: var(--primary-dark);
}
main ul.social-links {
  margin: 12px 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
main li.social-item {
  background-color: var(--bg);
  padding: 6px 10px;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}
main li.social-item:hover {
  filter: brightness(0.8);
}
main hr {
  position: relative;
  border-top: 1px dashed var(--text);
  width: 80%;
  margin: auto;
}
main span.or-span {
  background-color: white;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -60%);
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
}
main p.signup-link {
  text-align: center;
  font-size: 12px;
  color: var(--text);
  position: relative;
  top: -10px;
  line-height: 14px;
}
